html {
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 2em;
    display: grid;
}

.square {
    position: relative;
    padding-top: 100%;
    background-color: lightgray;
    margin: 0.25em;
    border: black 2px solid;
}

.square > svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
